<div class="main">
    <div class="main__img">
        <img src="/images/beer.png" alt="blonde beer in a glass">
    </div>
    <div>
        <a href="/beers" class="main__btn">Check the Beers!</a>
        <a href="/random-beer" class="main__btn">Check a Random Beer!</a>
    </div>
</div>